*.log 
test.txt
/.vs/
/WebApplication1/bin/
/WebApplication1/obj/
/TestProject1/bin/
/TestProject1/obj/
/TestProject1/bin/Debug/net8.0/nunit_random_seed.tmp
/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/webapplication1.strings.v9.bin
/.vs/ProjectEvaluation/webapplication1.metadata.v9.bin
/.vs/ProjectEvaluation/webapplication1.projects.v9.bin
/.vs/WebApplication1/v17/.futdcache.v2
/.vs/WebApplication1/v17/TestStore/0/testlog.manifest
/.vs/WebApplication1/v17/.suo
/.vs/WebApplication1/v17/DocumentLayout.backup.json
/.vs/WebApplication1/v17/DocumentLayout.json
/TestProject1/bin/Debug/net8.0/TestProject1.dll
/TestProject1/bin/Debug/net8.0/TestProject1.pdb
/TestProject1/bin/Debug/net8.0/WebApplication1.dll
/TestProject1/bin/Debug/net8.0/WebApplication1.exe
/TestProject1/bin/Debug/net8.0/WebApplication1.pdb
/TestProject1/obj/Debug/net8.0/ref/TestProject1.dll
/TestProject1/obj/Debug/net8.0/refint/TestProject1.dll
/TestProject1/obj/Debug/net8.0/TestProject1.AssemblyInfo.cs
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.AssemblyReference.cache
/TestProject1/obj/Debug/net8.0/TestProject1.AssemblyInfoInputs.cache
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.CoreCompileInputs.cache
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.FileListAbsolute.txt
/TestProject1/obj/Debug/net8.0/TestProject1.dll
/TestProject1/obj/Debug/net8.0/TestProject1.genruntimeconfig.cache
/TestProject1/obj/Debug/net8.0/TestProject1.pdb
/WebApplication1/bin/Debug/net8.0/WebApplication1.dll
/WebApplication1/bin/Debug/net8.0/WebApplication1.exe
/WebApplication1/bin/Debug/net8.0/WebApplication1.pdb
/WebApplication1/obj/Debug/net8.0/ref/WebApplication1.dll
/.vs/WebApplication1/v17/TestStore/0/002.testlog
/WebApplication1/obj/Debug/net8.0/refint/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
/WebApplication1/obj/Debug/net8.0/apphost.exe
/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.CoreCompileInputs.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.FileListAbsolute.txt
/WebApplication1/obj/Debug/net8.0/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/WebApplication1.genruntimeconfig.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.pdb
/WebApplication1/2024-08-22-Debug.log
/WebApplication1/2024-08-22-Trace.log
/WebApplication1/2024-08-22-Warn.log
/WebApplication1/2024-08-22.log
/WebApplication1/新增 文字文件.txt
