.vs/
*.log
/TestProject1/obj/Debug/net8.0/TestProject1.AssemblyInfo.cs
/TestProject1/obj/Debug/net8.0/TestProject1.AssemblyInfoInputs.cache
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.AssemblyReference.cache
*.json
/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
/WebApplication1/test.txt
